header.header{
    position: relative;
    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #fff;
        z-index: -1;
        transform: translateY(-100%);
        box-shadow: 0 4px 18px #0001;
        @include trans;
    }
    
    &.active{
        position: sticky;
        &::before{
            transform: translateY(0%);
        }
    }

   

    .logo{
        max-width: 128px;
    }

    .navbar{
        margin-right: auto;
        @media screen and (max-width: 971px) {
            padding-bottom: 3rem;
        }
        .nav-link{
            font-weight: 500;
            padding: .5rem 1rem;
            color: lighten($grey, 10);
            position: relative;
            font-size: 16px;
            @include trans;
            @media screen and (max-width: 971px) {
                font-size: 20px;
                text-align: center;
                padding: .95rem 1rem;
            }
            
            &:before{
                content: '';
                position: absolute;
                top: 50%;
                left: calc(50% - 2rem);
                width: 4rem;
                transform: scale(0);
                transform-origin: center;
                @include trans;
                height: .125rem;
                background-color: $blue;
            }
            &:hover,&.active{
                color: lighten($blue, 0);  
                &:before{
                    top: 100%;
                    transform: scale(1);
                } 
            }
        }
    }
}