// =================================================== 
// VARIABLES 
// =================================================== 
$grey: #454647;
$blue: #4A63FE;
$orange: #F2994A;
$light: #E9ECFF;
$light-blue: #E1F2FE;
$dark: #01172F;
$text: #3A3B3F;
$body: #535456;




// =================================================== 
// MIXINS 
// ===================================================