// =================================================== 
// VARIABLES 
// =================================================== 
$grey: #454647;
$gray-600: #454647;
$blue: #4A63FE;
$orange: #F2994A;
$light: #E9ECFF;
$gray-200: #E9ECFF;
$light-blue: #E1F2FE;
$dark: #01172F;
$gray-700: #01172F;
$text: #3A3B3F;
$body: #535456;
$white: #fff;
$purple: #EF3DDD;
 // Small screen / phone
 $sm: 576px;
 // Medium screen / tablet
 $md: 768px;
 // Large screen / desktop
 $lg: 992px;
 // Extra large screen / wide desktop
 $xl: 1200px;
 

 @mixin mq($xy) {
    @media only screen and (max-width: $xy){
        @content;
    }
 }
 

// =================================================== 
// MIXINS 
// ===================================================
@mixin trans {
    transition: 0.25s ease;
    -webkit-animation: 0.25s ease;
    -o-animation: 0.25s ease;
    -moz-animation: 0.25s ease;
}
@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}



.fw-800{
    font-weight: 800;
}

.fw-600{
    font-weight: 600;
}

.fw-400{
    font-weight: 400;
}
.t-orange{
    color: $orange;
}
.t-blue{
    color: $blue;
}
.fw-700{
    font-weight: 700;
}
.btn{
    @include trans;
}
.btn-primary{
    color: $white !important;
    background-color: $blue;
    border-radius: 4px;
}

.text-dark{
    color: $dark;
}

.mt-6{
    margin-top: 8rem;
}
.mt-6{
    margin-bottom: 8rem;
}

.text-purple{
    color: $purple;
}

ul.list{
    list-style-type: none;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0.25rem;
  li{
    list-style: none;
    position: relative;
    padding: 0 0 0 24px;

    &::before {
        content: ""; 
        position: absolute; 
        left: 0; 
        top: 2px; 
        border: solid 8px #563ccc;
        border-radius: 8px;
    }

    &::after{
        content: ""; 
        position: absolute; 
        left: 7px;
        top: 6px;
        width: 3px;
        height: 6px;
        border: solid #ffffff;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
  }
}

.bg-grad{
    background-color: var(--red);
    background-image: linear-gradient(-45deg, #e45a55, #fa7e58);
}

.bg-sexy{
    background-color: #454647;
    background-image: url(../../assets/images/5623087.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.bg-light{
    background-color: #E1F2FE !important;
    border: none !important;
}

.pro-card {
    border-radius: 12px;
    border: 0;
    padding-top: 1.5rem;
    background-color: #f1f9fe;
    margin-bottom: 2rem;
    height: calc(100% - 2rem);
    box-shadow: 0 4px 16px rgba(0,0,0,.051),0 3px 32px rgba(10, 5, 34, 0.058);
}
.bg-light-success{
    background-color: #ceffec;
 
}

.bg-green{
 background-image: linear-gradient( 109.6deg,  rgba(61,245,167,1) 11.2%, rgba(9,111,224,1) 91.1% );;
}